:root {
    --color-primary: #01A442;
    --color-secondary: #D7F5E3;
    --color-green-dark: #3D7453;
    --color-green-bg: #E1F5E9;
    --color-orange-text: #FDA600;
    --color-orange-bg: #FCDDA3;
    --color-yellow-bg: #FCFFF4;
    --color-pink: #FC8CCD;
    --color-gray-dark: #E6E6E6;
    --color-gray-bg: #F5F5F5;
    --color-gray: #C3C3C3;
    --color-white: #ffffff;
    --color-text-title: #242424;
    --color-text-black: #000000;
    --color-text-red: #FF0000;

    --color-line: #06C755;
}